* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    overflow-y: scroll;
}

body {
    background-color: darkslategrey;
}

#main-container {
    height: max-content;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#book-container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-card {
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 5px;
}

.book-card .book-title {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.book-card .book-author {
    font-size: small;
}

h1 {
    position: fixed;
    font-size: 60px;
    width: 100%;
    background-color: azure;
    text-align: left;
    margin: auto 0;
    padding-left: 20px;
}

button {
    border-radius: 3px;
}

#add-book-button {
    font-weight: bold;
    margin-top: 100px;
    background-color: greenyellow;
    justify-content: center;
    font-size: large;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    font-weight: bold;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    gap: 10px;
    z-index: 1000000 !important;
}

.modal p {
    font-size: 40px;
}

.modal input {
    font-weight: bold;
    color: black;
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border-radius: 7%;
    border: none;
    transition: background-color 1000ms ease-in-out;
}

.modal button {
    font-weight: bold;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

form.submitted input:valid {
    border: 2px solid rgb(0, 128, 0);
    background-color: rgba(42, 189, 42, 0.5);
}

form.submitted input:invalid:not(:focus) {
    border: 2px solid red;
    background-color: rgba(196, 106, 106, 0.9);
}

form.submitted input:invalid:not(:focus)::placeholder {
    color: black;
}

.button-container {
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.status-button {
    background-color: greenyellow;
    width: 80px;
    height: 30px;
}

.delete-button {
    background-color:chocolate;
    width: 80px;
    height: 30px;
}