* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    overflow-y: scroll;
}

body {
    background-color: darkslategrey;
}

#main-container {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    position: fixed;
    font-size: 60px;
    width: 100%;
    background-color: azure;
    text-align: left;
    margin: auto 0;
    padding-left: 20px;
}

#add-book-button {
    font-weight: bold;
    margin-top: 100px;
    background-color: greenyellow;
    justify-content: center;
    font-size: large;
    width: 200px;
    height: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
}

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    font-weight: bold;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    gap: 10px;
    z-index: 1000000 !important;
}

.modal p {
    font-size: 40px;
}

.modal input {
    font-weight: bold;
    color: black;
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border-radius: 7%;
    border: none;
}

.modal button {
    font-weight: bold;
    font-size: 20px;
}